{erl_opts, [debug_info]}.

{deps, []}.

{shell, [
    {apps, [des_sim]}
]}.

{relx, [
    {release, {des_sim, "0.1.0"}, [des_sim]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.
